In [1]:
import pandas as pd

In [2]:
train_claim = pd.read_csv('data/TrainData/Train_Claim.csv')
train_demographics = pd.read_csv('data/TrainData/Train_Demographics.csv')
train_policy = pd.read_csv('data/TrainData/Train_Policy.csv')
train_vehicle = pd.read_csv('data/TrainData/Train_Vehicle.csv')
train_data = pd.read_csv('data/TrainData/Traindata_with_Target.csv')

In [37]:
train_vehicle

       CustomerID VehicleAttribute VehicleAttributeDetails
0       Cust20179        VehicleID             Vehicle8898
1       Cust21384     VehicleModel                  Malibu
2       Cust33335      VehicleMake                  Toyota
3       Cust27118     VehicleModel                    Neon
4       Cust13038        VehicleID            Vehicle30212
...           ...              ...                     ...
115339  Cust22134      VehicleMake                    Audi
115340  Cust25338        VehicleID            Vehicle28831
115341   Cust7637        VehicleID            Vehicle12870
115342  Cust33581        VehicleID            Vehicle19680
115343  Cust14156     VehicleModel                 Corolla

[115344 rows x 3 columns]

In [3]:
veh_table = pd.pivot_table(train_vehicle, values='VehicleAttributeDetails', index=['CustomerID'],
                       columns=['VehicleAttribute'], aggfunc=lambda x: ' '.join(x))
veh_table

VehicleAttribute     VehicleID VehicleMake VehicleModel VehicleYOM
CustomerID
Cust10000         Vehicle26917        Audi           A5       2008
Cust10001         Vehicle15893        Audi           A5       2006
Cust10002          Vehicle5152  Volkswagen        Jetta       1999
Cust10003         Vehicle37363  Volkswagen        Jetta       2003
Cust10004         Vehicle28633      Toyota          CRV       2010
...                        ...         ...          ...        ...
Cust9993          Vehicle13568      Suburu      Impreza       2007
Cust9994          Vehicle19810        Jeep     Wrangler       2003
Cust9996           Vehicle3339      Suburu       Legacy       2004
Cust9997          Vehicle10240      Suburu    Forrestor       2004
Cust9999          Vehicle39163      Suburu         E400       2007

[28836 rows x 4 columns]

In [4]:
df1 = pd.merge(train_data,train_claim, on = ['CustomerID'], how='inner')
df2 = pd.merge(df1,train_demographics,on = ['CustomerID'], how='inner')
df3 = pd.merge(df2,train_policy,on = ['CustomerID'], how='inner')
df = pd.merge(df3,veh_table,on = ['CustomerID'], how='inner')
df

,CustomerID,ReportedFraud,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,...,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship,VehicleID,VehicleMake,VehicleModel,VehicleYOM
0,Cust20065,N,2015-01-09,Multi-vehicle Collision,Rear Collision,Total Loss,Other,State9,City4,Location 1404,...,State2,250/500,2000,1142.87,0,own-child,Vehicle30662,Mercedes,E400,2005
1,Cust37589,N,2015-02-20,Single Vehicle Collision,Side Collision,Minor Damage,Ambulance,State4,City3,Location 1675,...,State2,100/300,1000,1274.38,2857344,own-child,Vehicle17183,Toyota,Highlander,2010
2,Cust24312,N,2015-01-14,Multi-vehicle Collision,Side Collision,Major Damage,Ambulance,State5,City2,Location 1546,...,State1,500/1000,745,1269.93,0,other-relative,Vehicle33982,Volkswagen,Passat,2002
3,Cust5493,Y,2015-01-07,Multi-vehicle Collision,Side Collision,Major Damage,Ambulance,State7,City4,Location 1413,...,State2,100/300,986,1218.60,0,other-relative,Vehicle12299,Toyota,Highlander,2011
4,Cust7704,Y,2015-02-26,Multi-vehicle Collision,Side Collision,Major Damage,Other,State4,City6,Location 1367,...,State3,250/500,576,1431.02,4235779,unmarried,Vehicle30447,Ford,Wrangler,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28831,Cust9773,N,2015-02-13,Single Vehicle Collision,Side Collision,Minor Damage,Fire,State7,City3,Location 1324,...,State2,250/500,1000,1108.55,739864,unmarried,Vehicle24503,Nissan,RSX,2002
28832,Cust38439,N,2015-01-19,Multi-vehicle Collision,Side Collision,Total Loss,Police,State5,City3,Location 1880,...,State2,100/300,1008,1551.84,41592,own-child,Vehicle9733,Accura,RSX,2014
28833,Cust38444,N,2015-01-21,Multi-vehicle Collision,Side Collision,Total Loss,Police,State5,City7,Location 1632,...,State1,100/300,660,1119.32,0,not-in-family,Vehicle1823,Saab,RSX,2013
28834,Cust26466,N,2015-01-02,Parked Car,?,Trivial Damage,None,State4,City7,Location 1364,...,State3,250/1000,1674,1229.88,4674160,wife,Vehicle9113,Accura,RSX,2004
28835,Cust29555,N,2015-01-16,Single Vehicle Collision,Front Collision,Total Loss,Police,State8,City7,Location 1950,...,State2,250/1000,500,1341.72,4000000,wife,Vehicle7530,Volkswagen,RSX,2009

In [5]:
df.to_csv('data/india_fraud.csv', index=False)