# Importing Libraries and Dataset

In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from imblearn.over_sampling import SMOTE
from collections import Counter

from sklearn.model_selection import train_test_split

In [104]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 200

# Read Merged Dataset

In [106]:
df = pd.read_csv('data/india_fraud.csv')
df

,CustomerID,ReportedFraud,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,NumberOfVehicles,PropertyDamage,BodilyInjuries,Witnesses,PoliceReport,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,InsuredZipCode,InsuredGender,InsuredEducationLevel,InsuredOccupation,InsuredHobbies,CapitalGains,CapitalLoss,Country,InsurancePolicyNumber,CustomerLoyaltyPeriod,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship,VehicleID,VehicleMake,VehicleModel,VehicleYOM
0,Cust20065,N,2015-01-09,Multi-vehicle Collision,Rear Collision,Total Loss,Other,State9,City4,Location 1404,19,3,?,1,1,?,43973,9396,4698,29879,58,471784,MALE,JD,sales,video-games,0,-42700,India,129186,432,1998-11-14,State2,250/500,2000,1142.87,0,own-child,Vehicle30662,Mercedes,E400,2005
1,Cust37589,N,2015-02-20,Single Vehicle Collision,Side Collision,Minor Damage,Ambulance,State4,City3,Location 1675,14,1,?,1,1,YES,62310,6539,6539,49232,34,431937,FEMALE,High School,transport-moving,polo,51300,0,India,146710,128,2000-08-19,State2,100/300,1000,1274.38,2857344,own-child,Vehicle17183,Toyota,Highlander,2010
2,Cust24312,N,2015-01-14,Multi-vehicle Collision,Side Collision,Major Damage,Ambulance,State5,City2,Location 1546,21,3,?,0,0,?,42824,6069,6069,30686,52,479320,FEMALE,PhD,machine-op-inspct,exercise,0,0,India,133433,346,2000-06-23,State1,500/1000,745,1269.93,0,other-relative,Vehicle33982,Volkswagen,Passat,2002
3,Cust5493,Y,2015-01-07,Multi-vehicle Collision,Side Collision,Major Damage,Ambulance,State7,City4,Location 1413,12,3,YES,2,0,?,45672,253,5741,39678,25,607763,FEMALE,College,exec-managerial,exercise,47400,-56100,India,114614,42,1992-01-15,State2,100/300,986,1218.60,0,other-relative,Vehicle12299,Toyota,Highlander,2011
4,Cust7704,Y,2015-02-26,Multi-vehicle Collision,Side Collision,Major Damage,Other,State4,City6,Location 1367,3,3,NO,1,2,NO,81472,7407,14813,59252,27,441783,MALE,Masters,sales,chess,0,0,India,116825,109,2001-09-23,State3,250/500,576,1431.02,4235779,unmarried,Vehicle30447,Ford,Wrangler,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28831,Cust9773,N,2015-02-13,Single Vehicle Collision,Side Collision,Minor Damage,Fire,State7,City3,Location 1324,16,1,NO,1,2,?,50515,5543,5543,39429,39,454139,MALE,JD,farming-fishing,basketball,0,0,India,118894,251,2007-02-07,State2,250/500,1000,1108.55,739864,unmarried,Vehicle24503,Nissan,RSX,2002
28832,Cust38439,N,2015-01-19,Multi-vehicle Collision,Side Collision,Total Loss,Police,State5,City3,Location 1880,19,3,YES,2,0,?,94920,8678,8738,77504,21,463809,MALE,Associate,prof-specialty,golf,20000,-75000,India,147560,14,2006-10-18,State2,100/300,1008,1551.84,41592,own-child,Vehicle9733,Accura,RSX,2014
28833,Cust38444,N,2015-01-21,Multi-vehicle Collision,Side Collision,Total Loss,Police,State5,City7,Location 1632,16,3,YES,2,0,NO,87893,13224,7990,66679,35,444155,MALE,Associate,prof-specialty,golf,0,-75000,India,147565,153,2011-11-23,State1,100/300,660,1119.32,0,not-in-family,Vehicle1823,Saab,RSX,2013
28834,Cust26466,N,2015-01-02,Parked Car,?,Trivial Damage,None,State4,City7,Location 1364,12,1,?,1,1,?,7284,728,1457,5099,40,603123,FEMALE,Masters,exec-managerial,reading,0,-63900,India,135587,241,1997-08-04,State3,250/1000,1674,1229.88,4674160,wife,Vehicle9113,Accura,RSX,2004
28835,Cust29555,N,2015-01-16,Single Vehicle Collision,Front Collision,Total Loss,Police,State8,City7,Location 1950,11,1,YES,2,3,NO,90334,15757,16322,58255,27,463291,FEMALE,PhD,tech-support,reading,51100,0,India,138676,113,2008-01-04,State2,250/1000,500,1341.72,4000000,wife,Vehicle7530,Volkswagen,RSX,2009

# Handling Missing Values

#### Looking for NA values

In [107]:
df.isna().sum()

CustomerID                     0
ReportedFraud                  0
DateOfIncident                 0
TypeOfIncident                 0
TypeOfCollission               0
SeverityOfIncident             0
AuthoritiesContacted           0
IncidentState                  0
IncidentCity                   0
IncidentAddress                0
IncidentTime                   0
NumberOfVehicles               0
PropertyDamage                 0
BodilyInjuries                 0
Witnesses                      0
PoliceReport                   0
AmountOfTotalClaim             0
AmountOfInjuryClaim            0
AmountOfPropertyClaim          0
AmountOfVehicleDamage          0
InsuredAge                     0
InsuredZipCode                 0
InsuredGender                 30
InsuredEducationLevel          0
InsuredOccupation              0
InsuredHobbies                 0
CapitalGains                   0
CapitalLoss                    0
Country                        2
InsurancePolicyNumber          0
CustomerLoyaltyPeriod          0
DateOfPolicyCoverage           0
InsurancePolicyState           0
Policy_CombinedSingleLimit     0
Policy_Deductible              0
PolicyAnnualPremium            0
UmbrellaLimit                  0
InsuredRelationship            0
VehicleID                      0
VehicleMake                    0
VehicleModel                   0
VehicleYOM                     0
dtype: int64

#### Deep-diving into each column

In [108]:
for col in df:
    print('====================')
    print(col)
    print(df[col].unique())
    print(df[col].value_counts())

# Findings: 
# Categorical columns: 
# Columns 'TypeOfCollision', 'PropertyDamage', 'PoliceReport' have a '?' category.
# 'VehicleMake' column have a '???' category.
# Solution: As the '?'/'???' category take up a significant proportion of the dataset, we will be leaving the category as it is and 
# consider it as a 'missing' category. We will rename it as 'Missing' to be neater.

# Numerical columns:
# 'Witnesses' column have a 'MISSINGVALUE' category.
# 'AmountOfTotalClaim' column have a 'MISSEDDATA' category.
# Solution for 'Witnesses' column: We will leave the category as it is and look at this column as a catgorical column.
# Solution for 'AmountOfTotalClaim' column: Removing, using column that has high correlation

====================
CustomerID
['Cust20065' 'Cust37589' 'Cust24312' ... 'Cust38444' 'Cust26466'
 'Cust29555']
Cust20065    1
Cust24317    1
Cust33972    1
Cust34480    1
Cust36994    1
            ..
Cust10466    1
Cust20090    1
Cust21677    1
Cust24266    1
Cust29555    1
Name: CustomerID, Length: 28836, dtype: int64
====================
ReportedFraud
['N' 'Y']
N    21051
Y     7785
Name: ReportedFraud, dtype: int64
====================
DateOfIncident
['2015-01-09' '2015-02-20' '2015-01-14' '2015-01-07' '2015-02-26'
 '2015-02-06' '2015-02-02' '2015-01-26' '2015-02-08' '2015-01-15'
 '2015-02-14' '2015-02-04' '2015-01-16' '2015-02-27' '2015-01-19'
 '2015-02-16' '2015-01-11' '2015-01-28' '2015-02-19' '2015-02-05'
 '2015-02-21' '2015-01-13' '2015-01-06' '2015-01-17' '2015-01-08'
 '2015-02-07' '2015-01-12' '2015-02-15' '2015-01-18' '2015-01-05'
 '2015-02-10' '2015-01-25' '2015-02-11' '2015-02-28' '2015-01-10'
 '2015-03-04' '2015-01-22' '2015-02-17' '2015-01-21' '2015-02-25'
 '2015-01-27' '2015-01-04' '2015-02-18' '2015-01-29' '2015-02-13'
 '2015-01-20' '2015-01-30' '2015-01-31' '2015-01-23' '2015-02-12'
 '2015-02-03' '2015-01-03' '2015-02-24' '2015-01-24' '2015-02-23'
 '2015-01-02' '2015-01-01' '2015-02-09' '2015-02-22' '2015-02-01'
 '2015-03-01' '2015-03-06' '2015-03-02' '2015-03-03' '2015-03-08'
 '2015-03-05' '2015-03-11' '2015-03-10' '2015-03-09' '2015-03-07'
 '2015-03-14' '2015-03-12']
2015-01-10    661
2015-01-18    657
2015-02-17    648
2015-01-17    647
2015-01-09    646
2015-01-11    629
2015-01-16    623
2015-01-19    619
2015-01-08    610
2015-01-20    604
2015-02-18    600
2015-02-13    596
2015-02-16    594
2015-02-14    590
2015-01-13    583
2015-02-22    581
2015-02-24    578
2015-02-06    576
2015-02-21    574
2015-01-15    573
2015-02-23    567
2015-01-12    566
2015-01-07    558
2015-02-12    553
2015-02-05    551
2015-01-14    550
2015-02-20    543
2015-02-19    539
2015-01-23    534
2015-01-24    529
2015-02-25    527
2015-01-21    524
2015-02-08    523
2015-02-15    519
2015-02-07    504
2015-02-03    497
2015-01-22    495
2015-02-09    474
2015-02-04    473
2015-02-10    466
2015-01-25    441
2015-02-11    438
2015-01-27    412
2015-01-06    409
2015-02-02    386
2015-01-05    368
2015-02-26    366
2015-01-03    361
2015-01-26    348
2015-01-04    339
2015-01-28    325
2015-01-29    317
2015-01-30    302
2015-01-02    292
2015-02-27    256
2015-02-01    156
2015-01-01    139
2015-01-31    135
2015-02-28    128
2015-03-01    113
2015-03-02     45
2015-03-03     32
2015-03-04     16
2015-03-05     12
2015-03-06      8
2015-03-11      3
2015-03-08      2
2015-03-09      2
2015-03-10      1
2015-03-07      1
2015-03-14      1
2015-03-12      1
Name: DateOfIncident, dtype: int64
====================
TypeOfIncident
['Multi-vehicle Collision' 'Single Vehicle Collision' 'Vehicle Theft'
 'Parked Car']
Multi-vehicle Collision     11966
Single Vehicle Collision    11677
Vehicle Theft                2685
Parked Car                   2508
Name: TypeOfIncident, dtype: int64
====================
TypeOfCollission
['Rear Collision' 'Side Collision' 'Front Collision' '?']
Rear Collision     8561
Side Collision     7867
Front Collision    7246
?                  5162
Name: TypeOfCollission, dtype: int64
====================
SeverityOfIncident
['Total Loss' 'Minor Damage' 'Major Damage' 'Trivial Damage']
Minor Damage      10400
Total Loss         8218
Major Damage       7671
Trivial Damage     2547
Name: SeverityOfIncident, dtype: int64
====================
AuthoritiesContacted
['Other' 'Ambulance' 'Police' 'None' 'Fire']
Police       8324
Fire         6518
Ambulance    5732
Other        5570
None         2692
Name: AuthoritiesContacted, dtype: int64
====================
IncidentState
['State9' 'State4' 'State5' 'State7' 'State8' 'State6' 'State3']
State5    7886
State7    7168
State9    6161
State8    3181
State4    3029
State6     810
State3     601
Name: IncidentState, dtype: int64
====================
IncidentCity
['City4' 'City3' 'City2' 'City6' 'City1' 'City5' 'City7']
City2    4486
City1    4374
City4    4311
City7    4216
City3    4073
City5    3698
City6    3678
Name: IncidentCity, dtype: int64
====================
IncidentAddress
['Location 1404' 'Location 1675' 'Location 1546' 'Location 1413'
 'Location 1367' 'Location 1561' 'Location 1975' 'Location 1458'
 'Location 1859' 'Location 1211' 'Location 1263' 'Location 1172'
 'Location 1421' 'Location 1352' 'Location 1281' 'Location 1969'
 'Location 1254' 'Location 1730' 'Location 1906' 'Location 1221'
 'Location 1280' 'Location 1638' 'Location 1412' 'Location 1110'
 'Location 1845' 'Location 2033' 'Location 1839' 'Location 1417'
 'Location 1966' 'Location 1754' 'Location 1810' 'Location 1804'
 'Location 1376' 'Location 1708' 'Location 1187' 'Location 1926'
 'Location 2004' 'Location 1709' 'Location 1510' 'Location 1779'
 'Location 1170' 'Location 1999' 'Location 1570' 'Location 1551'
 'Location 2070' 'Location 1405' 'Location 1164' 'Location 1924'
 'Location 1696' 'Location 1192' 'Location 1374' 'Location 1728'
 'Location 1141' 'Location 1162' 'Location 1090' 'Location 1518'
 'Location 1882' 'Location 1460' 'Location 1951' 'Location 1912'
 'Location 1366' 'Location 1341' 'Location 1098' 'Location 1889'
 'Location 2083' 'Location 1807' 'Location 1128' 'Location 1927'
 'Location 1601' 'Location 1785' 'Location 1717' 'Location 1580'
 'Location 1298' 'Location 1262' 'Location 1375' 'Location 1737'
 'Location 1676' 'Location 2097' 'Location 1769' 'Location 1904'
 'Location 1770' 'Location 1692' 'Location 2096' 'Location 1672'
 'Location 1168' 'Location 1248' 'Location 2041' 'Location 1634'
 'Location 1727' 'Location 1820' 'Location 1947' 'Location 1432'
 'Location 1178' 'Location 1830' 'Location 1253' 'Location 1076'
 'Location 1948' 'Location 1137' 'Location 1871' 'Location 1790'
 'Location 1577' 'Location 1139' 'Location 1271' 'Location 1922'
 'Location 2062' 'Location 1391' 'Location 1183' 'Location 1781'
 'Location 1519' 'Location 1146' 'Location 1202' 'Location 1828'
 'Location 1482' 'Location 1967' 'Location 2029' 'Location 1395'
 'Location 1913' 'Location 1250' 'Location 1914' 'Location 1548'
 'Location 1418' 'Location 1181' 'Location 1069' 'Location 1921'
 'Location 1038' 'Location 1543' 'Location 1890' 'Location 1344'
 'Location 1217' 'Location 1860' 'Location 1777' 'Location 1256'
 'Location 1393' 'Location 1802' 'Location 1188' 'Location 1313'
 'Location 1016' 'Location 1888' 'Location 1231' 'Location 2085'
 'Location 2007' 'Location 1566' 'Location 1505' 'Location 1131'
 'Location 2082' 'Location 2058' 'Location 1045' 'Location 1931'
 'Location 1491' 'Location 1291' 'Location 1414' 'Location 1360'
 'Location 1397' 'Location 1230' 'Location 1104' 'Location 1683'
 'Location 1236' 'Location 1234' 'Location 1762' 'Location 1757'
 'Location 1530' 'Location 1528' 'Location 1502' 'Location 1753'
 'Location 1355' 'Location 1618' 'Location 1574' 'Location 1778'
 'Location 1816' 'Location 1082' 'Location 1349' 'Location 1900'
 'Location 1062' 'Location 1652' 'Location 1549' 'Location 1733'
 'Location 1161' 'Location 1786' 'Location 1983' 'Location 1480'
 'Location 2099' 'Location 1071' 'Location 1368' 'Location 1641'
 'Location 1066' 'Location 1812' 'Location 1911' 'Location 1800'
 'Location 1998' 'Location 1014' 'Location 1703' 'Location 1712'
 'Location 1040' 'Location 1459' 'Location 1654' 'Location 1724'
 'Location 1053' 'Location 1469' 'Location 1353' 'Location 1517'
 'Location 1973' 'Location 2069' 'Location 1004' 'Location 2052'
 'Location 1531' 'Location 1152' 'Location 1302' 'Location 1409'
 'Location 1436' 'Location 1673' 'Location 1167' 'Location 2000'
 'Location 1535' 'Location 1226' 'Location 1944' 'Location 1055'
 'Location 1196' 'Location 1552' 'Location 1963' 'Location 1179'
 'Location 1986' 'Location 1255' 'Location 1635' 'Location 2006'
 'Location 1744' 'Location 1957' 'Location 1028' 'Location 1495'
 'Location 2003' 'Location 1408' 'Location 1667' 'Location 1467'
 'Location 1842' 'Location 1627' 'Location 1223' 'Location 1981'
 'Location 1713' 'Location 1655' 'Location 1117' 'Location 1327'
 'Location 1021' 'Location 1144' 'Location 1479' 'Location 1700'
 'Location 1738' 'Location 1851' 'Location 1745' 'Location 1136'
 'Location 1121' 'Location 1648' 'Location 1855' 'Location 1385'
 'Location 1345' 'Location 1572' 'Location 1392' 'Location 1987'
 'Location 1739' 'Location 1554' 'Location 1011' 'Location 1767'
 'Location 1324' 'Location 1715' 'Location 2046' 'Location 1215'
 'Location 1099' 'Location 1526' 'Location 1619' 'Location 1867'
 'Location 1275' 'Location 1002' 'Location 1515' 'Location 1337'
 'Location 2066' 'Location 1182' 'Location 1406' 'Location 1658'
 'Location 1939' 'Location 1801' 'Location 2048' 'Location 1591'
 'Location 1521' 'Location 1869' 'Location 1105' 'Location 1079'
 'Location 1240' 'Location 1499' 'Location 1917' 'Location 2005'
 'Location 1264' 'Location 2042' 'Location 1707' 'Location 1199'
 'Location 1631' 'Location 1659' 'Location 1216' 'Location 1806'
 'Location 1992' 'Location 1937' 'Location 1734' 'Location 1594'
 'Location 1326' 'Location 1609' 'Location 1534' 'Location 1116'
 'Location 1866' 'Location 1214' 'Location 1556' 'Location 1242'
 'Location 1488' 'Location 1023' 'Location 1272' 'Location 1559'
 'Location 1185' 'Location 1464' 'Location 2059' 'Location 1206'
 'Location 1468' 'Location 1741' 'Location 1379' 'Location 2036'
 'Location 1990' 'Location 1750' 'Location 2038' 'Location 1945'
 'Location 1244' 'Location 1563' 'Location 1232' 'Location 2018'
 'Location 2002' 'Location 1602' 'Location 1260' 'Location 1276'
 'Location 1940' 'Location 1525' 'Location 1544' 'Location 1615'
 'Location 1301' 'Location 1377' 'Location 1626' 'Location 1886'
 'Location 2030' 'Location 1798' 'Location 1788' 'Location 1988'
 'Location 1920' 'Location 1123' 'Location 1843' 'Location 1398'
 'Location 1005' 'Location 1424' 'Location 1325' 'Location 1964'
 'Location 1160' 'Location 1157' 'Location 1026' 'Location 1879'
 'Location 1416' 'Location 1020' 'Location 1529' 'Location 1451'
 'Location 2054' 'Location 1629' 'Location 1902' 'Location 1677'
 'Location 1042' 'Location 1576' 'Location 1321' 'Location 1195'
 'Location 1935' 'Location 1793' 'Location 1558' 'Location 1679'
 'Location 1153' 'Location 1114' 'Location 1687' 'Location 1106'
 'Location 1441' 'Location 1362' 'Location 1369' 'Location 1938'
 'Location 1539' 'Location 1772' 'Location 1305' 'Location 1949'
 'Location 1165' 'Location 1970' 'Location 2051' 'Location 1127'
 'Location 1746' 'Location 2090' 'Location 1357' 'Location 1690'
 'Location 1971' 'Location 1287' 'Location 1875' 'Location 1597'
 'Location 2080' 'Location 2044' 'Location 1225' 'Location 1080'
 'Location 1444' 'Location 1050' 'Location 1447' 'Location 1894'
 'Location 1841' 'Location 1423' 'Location 1789' 'Location 1103'
 'Location 1645' 'Location 1662' 'Location 1868' 'Location 1579'
 'Location 1976' 'Location 1333' 'Location 1965' 'Location 1083'
 'Location 1387' 'Location 1547' 'Location 1849' 'Location 1174'
 'Location 1008' 'Location 1994' 'Location 1694' 'Location 1332'
 'Location 1884' 'Location 1977' 'Location 1865' 'Location 1610'
 'Location 1605' 'Location 1796' 'Location 1238' 'Location 1876'
 'Location 1847' 'Location 1982' 'Location 1613' 'Location 1792'
 'Location 1895' 'Location 1560' 'Location 2079' 'Location 1783'
 'Location 1514' 'Location 1684' 'Location 2035' 'Location 2061'
 'Location 1427' 'Location 1691' 'Location 1513' 'Location 1035'
 'Location 1239' 'Location 1593' 'Location 1007' 'Location 2016'
 'Location 1833' 'Location 2075' 'Location 1388' 'Location 1440'
 'Location 1273' 'Location 1285' 'Location 1212' 'Location 1063'
 'Location 1338' 'Location 1282' 'Location 1836' 'Location 1030'
 'Location 1492' 'Location 1155' 'Location 1193' 'Location 1723'
 'Location 1774' 'Location 1433' 'Location 1140' 'Location 2022'
 'Location 1092' 'Location 2074' 'Location 1916' 'Location 1443'
 'Location 1218' 'Location 1286' 'Location 1339' 'Location 1330'
 'Location 1149' 'Location 2019' 'Location 1496' 'Location 1308'
 'Location 1288' 'Location 1300' 'Location 1133' 'Location 2027'
 'Location 1829' 'Location 1356' 'Location 1643' 'Location 1094'
 'Location 1837' 'Location 1799' 'Location 1442' 'Location 1503'
 'Location 1623' 'Location 1311' 'Location 1101' 'Location 1923'
 'Location 1952' 'Location 1056' 'Location 1695' 'Location 1892'
 'Location 1222' 'Location 1898' 'Location 1688' 'Location 1484'
 'Location 1553' 'Location 1089' 'Location 1943' 'Location 1198'
 'Location 1682' 'Location 1726' 'Location 1685' 'Location 1380'
 'Location 1808' 'Location 1720' 'Location 1832' 'Location 1794'
 'Location 2047' 'Location 1476' 'Location 1567' 'Location 1346'
 'Location 1068' 'Location 1817' 'Location 1013' 'Location 2056'
 'Location 1319' 'Location 2087' 'Location 1246' 'Location 1693'
 'Location 1228' 'Location 1573' 'Location 1381' 'Location 1245'
 'Location 1880' 'Location 1621' 'Location 1277' 'Location 1372'
 'Location 1962' 'Location 1958' 'Location 1304' 'Location 1818'
 'Location 1669' 'Location 1903' 'Location 1010' 'Location 1129'
 'Location 1647' 'Location 2032' 'Location 1620' 'Location 1824'
 'Location 1059' 'Location 1449' 'Location 1995' 'Location 1910'
 'Location 1936' 'Location 1731' 'Location 1823' 'Location 1027'
 'Location 1661' 'Location 1732' 'Location 1029' 'Location 2065'
 'Location 2084' 'Location 1207' 'Location 1811' 'Location 1756'
 'Location 1235' 'Location 1908' 'Location 1290' 'Location 1640'
 'Location 1309' 'Location 1978' 'Location 1835' 'Location 2091'
 'Location 1201' 'Location 2094' 'Location 1200' 'Location 1748'
 'Location 1805' 'Location 1051' 'Location 1115' 'Location 1425'
 'Location 1747' 'Location 1227' 'Location 1048' 'Location 1844'
 'Location 1959' 'Location 1453' 'Location 1077' 'Location 1846'
 'Location 1639' 'Location 1037' 'Location 1827' 'Location 1705'
 'Location 1316' 'Location 1719' 'Location 1402' 'Location 1663'
 'Location 1102' 'Location 1320' 'Location 1189' 'Location 2068'
 'Location 1653' 'Location 1268' 'Location 1853' 'Location 1776'
 'Location 1583' 'Location 1024' 'Location 1044' 'Location 1813'
 'Location 1047' 'Location 1507' 'Location 1729' 'Location 1336'
 'Location 1862' 'Location 1194' 'Location 1735' 'Location 1124'
 'Location 1918' 'Location 1297' 'Location 1972' 'Location 1477'
 'Location 1257' 'Location 1764' 'Location 1864' 'Location 1538'
 'Location 1396' 'Location 1364' 'Location 1598' 'Location 1989'
 'Location 1096' 'Location 1686' 'Location 1520' 'Location 1803'
 'Location 1112' 'Location 1680' 'Location 1509' 'Location 1471'
 'Location 2092' 'Location 1819' 'Location 1961' 'Location 2021'
 'Location 1930' 'Location 1881' 'Location 1668' 'Location 1219'
 'Location 1064' 'Location 1834' 'Location 1625' 'Location 1450'
 'Location 1718' 'Location 1773' 'Location 1363' 'Location 1184'
 'Location 1457' 'Location 1954' 'Location 1097' 'Location 1150'
 'Location 1147' 'Location 1710' 'Location 1751' 'Location 1791'
 'Location 1604' 'Location 1015' 'Location 1019' 'Location 1289'
 'Location 1742' 'Location 1612' 'Location 1956' 'Location 1081'
 'Location 1435' 'Location 1706' 'Location 1399' 'Location 1617'
 'Location 1247' 'Location 1854' 'Location 1209' 'Location 1041'
 'Location 1736' 'Location 2071' 'Location 1278' 'Location 1294'
 'Location 1266' 'Location 1611' 'Location 1118' 'Location 1494'
 'Location 1204' 'Location 1650' 'Location 1359' 'Location 1054'
 'Location 1070' 'Location 1825' 'Location 1678' 'Location 1078'
 'Location 1915' 'Location 2043' 'Location 1760' 'Location 1370'
 'Location 1120' 'Location 1378' 'Location 1175' 'Location 1210'
 'Location 1500' 'Location 2100' 'Location 1979' 'Location 1749'
 'Location 1929' 'Location 1490' 'Location 2049' 'Location 1831'
 'Location 1587' 'Location 1795' 'Location 1697' 'Location 1815'
 'Location 2088' 'Location 1318' 'Location 1012' 'Location 1901'
 'Location 1950' 'Location 1541' 'Location 1755' 'Location 1284'
 'Location 2015' 'Location 1928' 'Location 2045' 'Location 1475'
 'Location 1522' 'Location 1571' 'Location 1664' 'Location 1001'
 'Location 1721' 'Location 1562' 'Location 1532' 'Location 1310'
 'Location 1119' 'Location 1383' 'Location 2037' 'Location 1608'
 'Location 1431' 'Location 1031' 'Location 2024' 'Location 1403'
 'Location 1873' 'Location 1143' 'Location 1822' 'Location 1009'
 'Location 1411' 'Location 1036' 'Location 1759' 'Location 1134'
 'Location 1856' 'Location 1400' 'Location 1725' 'Location 1437'
 'Location 1489' 'Location 1660' 'Location 1351' 'Location 1061'
 'Location 1430' 'Location 1511' 'Location 1087' 'Location 1863'
 'Location 1722' 'Location 1039' 'Location 1581' 'Location 1877'
 'Location 1422' 'Location 1067' 'Location 1025' 'Location 1340'
 'Location 1481' 'Location 1497' 'Location 1022' 'Location 1784'
 'Location 2009' 'Location 1596' 'Location 2040' 'Location 1307'
 'Location 1473' 'Location 1955' 'Location 1108' 'Location 2014'
 'Location 1699' 'Location 1329' 'Location 1993' 'Location 1177'
 'Location 1270' 'Location 1919' 'Location 2089' 'Location 2072'
 'Location 1074' 'Location 1454' 'Location 1466' 'Location 1474'
 'Location 1858' 'Location 1582' 'Location 1504' 'Location 1557'
 'Location 1394' 'Location 1485' 'Location 1870' 'Location 1646'
 'Location 1084' 'Location 2012' 'Location 1312' 'Location 1765'
 'Location 1809' 'Location 1448' 'Location 1354' 'Location 1292'
 'Location 1033' 'Location 1516' 'Location 1850' 'Location 1743'
 'Location 1907' 'Location 1126' 'Location 1614' 'Location 1536'
 'Location 1057' 'Location 1585' 'Location 1171' 'Location 1058'
 'Location 1968' 'Location 1065' 'Location 1109' 'Location 1942'
 'Location 2053' 'Location 1508' 'Location 1151' 'Location 1616'
 'Location 1501' 'Location 1714' 'Location 1463' 'Location 1698'
 'Location 1390' 'Location 1237' 'Location 1052' 'Location 1874'
 'Location 1093' 'Location 2013' 'Location 2098' 'Location 1588'
 'Location 1632' 'Location 1763' 'Location 1665' 'Location 1524'
 'Location 1135' 'Location 1670' 'Location 1046' 'Location 1666'
 'Location 1445' 'Location 1386' 'Location 1446' 'Location 1465'
 'Location 1606' 'Location 1885' 'Location 1384' 'Location 2067'
 'Location 1826' 'Location 1840' 'Location 1145' 'Location 1893'
 'Location 1085' 'Location 2034' 'Location 1985' 'Location 1896'
 'Location 1249' 'Location 2095' 'Location 1176' 'Location 1003'
 'Location 1498' 'Location 1401' 'Location 1122' 'Location 1716'
 'Location 1017' 'Location 1861' 'Location 1389' 'Location 2055'
 'Location 1328' 'Location 1258' 'Location 1163' 'Location 1295'
 'Location 1293' 'Location 1506' 'Location 1032' 'Location 1426'
 'Location 2081' 'Location 1584' 'Location 1953' 'Location 2078'
 'Location 2020' 'Location 1569' 'Location 1158' 'Location 1740'
 'Location 1203' 'Location 2028' 'Location 1681' 'Location 1974'
 'Location 1049' 'Location 1407' 'Location 1564' 'Location 1169'
 'Location 2060' 'Location 1775' 'Location 2076' 'Location 1527'
 'Location 1752' 'Location 1086' 'Location 1486' 'Location 1821'
 'Location 1100' 'Location 1586' 'Location 1997' 'Location 1006'
 'Location 1043' 'Location 1261' 'Location 2017' 'Location 1358'
 'Location 2010' 'Location 1941' 'Location 2093' 'Location 1991'
 'Location 1883' 'Location 1768' 'Location 1452' 'Location 1159'
 'Location 1410' 'Location 1156' 'Location 1348' 'Location 1434'
 'Location 1671' 'Location 2001' 'Location 1269' 'Location 1220'
 'Location 1060' 'Location 1600' 'Location 1689' 'Location 1343'
 'Location 1365' 'Location 1438' 'Location 2026' 'Location 1537'
 'Location 1701' 'Location 1630' 'Location 1656' 'Location 1456'
 'Location 1996' 'Location 1186' 'Location 1758' 'Location 1642'
 'Location 2077' 'Location 1072' 'Location 1213' 'Location 1542'
 'Location 1419' 'Location 1455' 'Location 1787' 'Location 1373'
 'Location 1649' 'Location 1704' 'Location 1462' 'Location 1111'
 'Location 1296' 'Location 1315' 'Location 1540' 'Location 1909'

#### Dropping Columns/Rows

##### Drop Categorical Columns

In [109]:
# Drop 'Country' column as India is the only country in the entire dataset and there are only 2 rows with missing country
# Drop 'InsuredGender' due to correlation with other categorical features
# Drop 'InsuredHobbies' due to possible spurious correlation with other features
df = df.drop(columns=['Country','InsuredGender','InsuredHobbies'])

#### Drop Numerical Columns

In [110]:
# **ONLY KEEP AmountOfVehicleDamage** : 
# High Corr between AmountOfTotalClaim, AmountOfInjuryClaim, AmountOfPropertyClaim and AmountOfVehicleDamage. 
# Think AmountOfTotalClaim would be most important, but there are alot of NAs. Hence, taking the value with highest correlation with AmountOfTotalClaim, which is AmountOfVehicleDamage.
# Remove InsuredAge as it has high correlation with InsurancePolicyState
df = df.drop(columns=['AmountOfTotalClaim','AmountOfInjuryClaim','AmountOfPropertyClaim','InsuredAge'])

##### Drop Other Redundant Columns

In [111]:
# 'CustomerID', 'VehicleID', 'InsurancePolicyNumber' are just IDs and are not useful.
# 'IncidentState' and 'IncidentCity' are captured by 'IncidentAddress'.
# 'InsuredZipCode' captured by 'InsurancePolicyState'
# 'DateOfPolicyCoverage' is aligned with 'CustomerLoyaltyPeriod' 
df.drop(columns=['CustomerID', 'VehicleID', 'InsurancePolicyNumber', 'InsuredZipCode', 'IncidentState','IncidentCity','DateOfPolicyCoverage'], inplace=True)

#### Replacing column values for certain columns

In [112]:
# Replacing '?'/'???' value with 'Missing' for 'TypeOfCollision', 'PropertyDamage', 'PoliceReport', 'Witnesses' and
# 'VehicleMake' columns as explained above.
df['TypeOfCollission'] = df['TypeOfCollission'].replace('?','Missing')
df['PropertyDamage'] = df['PropertyDamage'].replace('?','Missing')
df['PoliceReport'] = df['PoliceReport'].replace('?','Missing')
df['VehicleMake'] = df['VehicleMake'].replace('???','Missing')
df['Witnesses'] = df['Witnesses'].replace('MISSINGVALUE','-1')

# Changing 'Witnesses' to integer
df['Witnesses'] = df['Witnesses'].astype(int)

In [113]:
# Changing PropertyDamage & PoliceReport to numerical variables (-1 for missing, add '{Feature}_Missing' column), since they are naturally binary variables
def change_binary(x):
  if x == 'YES':
    return 1
  elif x == 'NO':
    return 0
  elif x == 'Missing':
    return -1

df['PropertyDamage'] = df['PropertyDamage'].apply(lambda x: change_binary(x))
df['PropertyDamage_Missing'] = df['PropertyDamage'].apply(lambda x: 1 if x == -1 else 0)
df['PoliceReport'] = df['PoliceReport'].apply(lambda x: change_binary(x))
df['PoliceReport_Missing'] = df['PoliceReport'].apply(lambda x: 1 if x == -1 else 0)

In [114]:
# Adding feature **UmbrellaLimit_Missing** : since most of them are 0 not because the insurance value is 0, but because they do not have insurance for 3rd party
df['UmbrellaLimit_Missing'] = df['UmbrellaLimit'].apply(lambda x: 1 if x == 0 else 0)

In [115]:
# Replacing 'Y' and 'N' with 1 and 0 for target column, 'ReportedFraud' for prediction
df['ReportedFraud'] = [1 if x == 'Y' else 0 for x in df['ReportedFraud']]

# Extracting information for date columns

In [116]:
# Extract month and day from 'DateOfIncident' column. Year not extracted as the all incidents happened in 2015.
df['MonthOfIncident'] = pd.to_datetime(df['DateOfIncident']).dt.month
df['DayOfIncident'] = pd.to_datetime(df['DateOfIncident']).dt.day

df = df.drop(columns=['DateOfIncident'])

In [117]:
df

,ReportedFraud,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentAddress,IncidentTime,NumberOfVehicles,PropertyDamage,BodilyInjuries,Witnesses,PoliceReport,AmountOfVehicleDamage,InsuredAge,InsuredEducationLevel,InsuredOccupation,CapitalGains,CapitalLoss,CustomerLoyaltyPeriod,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship,VehicleMake,VehicleModel,VehicleYOM,PropertyDamage_Missing,PoliceReport_Missing,UmbrellaLimit_Missing,MonthOfIncident,DayOfIncident
0,0,Multi-vehicle Collision,Rear Collision,Total Loss,Other,Location 1404,19,3,-1,1,1,-1,29879,58,JD,sales,0,-42700,432,State2,250/500,2000,1142.87,0,own-child,Mercedes,E400,2005,1,1,1,1,9
1,0,Single Vehicle Collision,Side Collision,Minor Damage,Ambulance,Location 1675,14,1,-1,1,1,1,49232,34,High School,transport-moving,51300,0,128,State2,100/300,1000,1274.38,2857344,own-child,Toyota,Highlander,2010,1,0,0,2,20
2,0,Multi-vehicle Collision,Side Collision,Major Damage,Ambulance,Location 1546,21,3,-1,0,0,-1,30686,52,PhD,machine-op-inspct,0,0,346,State1,500/1000,745,1269.93,0,other-relative,Volkswagen,Passat,2002,1,1,1,1,14
3,1,Multi-vehicle Collision,Side Collision,Major Damage,Ambulance,Location 1413,12,3,1,2,0,-1,39678,25,College,exec-managerial,47400,-56100,42,State2,100/300,986,1218.60,0,other-relative,Toyota,Highlander,2011,0,1,1,1,7
4,1,Multi-vehicle Collision,Side Collision,Major Damage,Other,Location 1367,3,3,0,1,2,0,59252,27,Masters,sales,0,0,109,State3,250/500,576,1431.02,4235779,unmarried,Ford,Wrangler,2010,0,0,0,2,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28831,0,Single Vehicle Collision,Side Collision,Minor Damage,Fire,Location 1324,16,1,0,1,2,-1,39429,39,JD,farming-fishing,0,0,251,State2,250/500,1000,1108.55,739864,unmarried,Nissan,RSX,2002,0,1,0,2,13
28832,0,Multi-vehicle Collision,Side Collision,Total Loss,Police,Location 1880,19,3,1,2,0,-1,77504,21,Associate,prof-specialty,20000,-75000,14,State2,100/300,1008,1551.84,41592,own-child,Accura,RSX,2014,0,1,0,1,19
28833,0,Multi-vehicle Collision,Side Collision,Total Loss,Police,Location 1632,16,3,1,2,0,0,66679,35,Associate,prof-specialty,0,-75000,153,State1,100/300,660,1119.32,0,not-in-family,Saab,RSX,2013,0,0,1,1,21
28834,0,Parked Car,Missing,Trivial Damage,None,Location 1364,12,1,-1,1,1,-1,5099,40,Masters,exec-managerial,0,-63900,241,State3,250/1000,1674,1229.88,4674160,wife,Accura,RSX,2004,1,1,0,1,2
28835,0,Single Vehicle Collision,Front Collision,Total Loss,Police,Location 1950,11,1,1,2,3,0,58255,27,PhD,tech-support,51100,0,113,State2,250/1000,500,1341.72,4000000,wife,Volkswagen,RSX,2009,0,0,0,1,16

In [118]:
df.to_csv('data/india_fraud_cleaned.csv', index=False)

# Train Test Split

In [119]:
# split train test val in 80/10/10
train, test = train_test_split(df, stratify=df['ReportedFraud'], test_size=0.1)
train, val = train_test_split(train, stratify=df.loc[train.index, "ReportedFraud"], test_size=1/9)

# Create Suspicious Location Variable for train, test, val set

Divide into train test split, get **suspicious locations**, change it to a binary value instead (Suspicious Location or Not, -1 would be not found (in val/test set)

In [120]:
import plotly.express as px
fig = px.histogram(train[['IncidentAddress','ReportedFraud']].value_counts().reset_index().rename(columns={0:'cases'}), x='IncidentAddress',y='cases',color='ReportedFraud',barmode='group',title=f'Number of Reported Fraud Cases By IncidentAddress')
fig.show()

In [121]:
location_breakdown = pd.pivot_table(train[['IncidentAddress','ReportedFraud']].value_counts().reset_index().rename(columns={0:'cases'}).sort_values(by='IncidentAddress'), index='IncidentAddress', columns=['ReportedFraud'], values='cases', aggfunc=np.sum).fillna(0).reset_index()
location_breakdown['Suspicious_Location'] = (location_breakdown[0] < location_breakdown[1]) * 1
location_breakdown

ReportedFraud IncidentAddress     0     1  Suspicious_Location
0               Location 1001   1.0  13.0                    1
1               Location 1002  12.0   2.0                    0
2               Location 1003   7.0   1.0                    0
3               Location 1004  38.0   3.0                    0
4               Location 1005  20.0   0.0                    0
..                        ...   ...   ...                  ...
995             Location 2096  22.0   2.0                    0
996             Location 2097  42.0   1.0                    0
997             Location 2098  30.0   3.0                    0
998             Location 2099  30.0   2.0                    0
999             Location 2100  23.0   1.0                    0

[1000 rows x 4 columns]

In [122]:
location_breakdown[location_breakdown['Suspicious_Location'] == 1]

ReportedFraud IncidentAddress    0     1  Suspicious_Location
0               Location 1001  1.0  13.0                    1
7               Location 1008  1.0  17.0                    1
13              Location 1014  1.0  30.0                    1
17              Location 1018  1.0  10.0                    1
18              Location 1019  0.0  18.0                    1
..                        ...  ...   ...                  ...
984             Location 2085  0.0  14.0                    1
985             Location 2086  0.0  13.0                    1
987             Location 2088  5.0  15.0                    1
992             Location 2093  0.0  10.0                    1
993             Location 2094  1.0  25.0                    1

[247 rows x 4 columns]

In [123]:
suspicious_locations = list(location_breakdown[location_breakdown['Suspicious_Location'] == 1]['IncidentAddress'])

In [124]:
len(suspicious_locations)

247

In [125]:
all_locations_train = list(location_breakdown['IncidentAddress'])

In [126]:
def in_suspicious_location(x):
  if x in all_locations_train:
    if x in suspicious_locations:
      return 1
    else:
      return 0
  else:
    return -1  # mainly for val and test, when location is not in training set.


train['SuspiciousLocation'] = train['IncidentAddress'].apply(lambda x: in_suspicious_location(x))
train = train.drop(columns=['IncidentAddress'])

val['SuspiciousLocation'] = val['IncidentAddress'].apply(lambda x: in_suspicious_location(x))
val = val.drop(columns=['IncidentAddress'])

test['SuspiciousLocation'] = test['IncidentAddress'].apply(lambda x: in_suspicious_location(x))
test = test.drop(columns=['IncidentAddress'])

# One Hot Encoding on Categorical Variables

In [127]:
cat_cols = ['TypeOfIncident', 'TypeOfCollission', 'SeverityOfIncident', 'AuthoritiesContacted','InsuredEducationLevel',
       'InsuredOccupation', 'InsurancePolicyState', 'Policy_CombinedSingleLimit', 'InsuredRelationship',
       'VehicleMake', 'VehicleModel']
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numeric_cols = train.select_dtypes(include=numerics).columns.tolist()

In [128]:
# OHE for train set
dummy_cols = pd.get_dummies(train[cat_cols])
dummy_cols
train_ohe = pd.concat([train[numeric_cols], dummy_cols], axis = 1)
train_ohe.shape

(23068, 132)

In [129]:
# OHE for test set
dummy_cols = pd.get_dummies(test[cat_cols])
dummy_cols
test_ohe = pd.concat([test[numeric_cols], dummy_cols], axis = 1)
test_ohe.shape

(2884, 132)

In [130]:
# OHE for val set
dummy_cols = pd.get_dummies(val[cat_cols])
dummy_cols
val_ohe = pd.concat([val[numeric_cols], dummy_cols], axis = 1)
val_ohe.shape

(2884, 132)

In [131]:
# Split IV and DV
X_train = train_ohe.iloc[:,1:]
y_train = train_ohe['ReportedFraud'] 

X_val = val_ohe.iloc[:,1:]
y_val = val_ohe['ReportedFraud']

X_test = test_ohe.iloc[:,1:]
y_test = test_ohe['ReportedFraud']

## Dealing with Class Imbalance using SMOTE

In [132]:
smote = SMOTE()

# fit predictor and target variable
X_smote, y_smote = smote.fit_resample(X_train, y_train)
print('Original dataset shape', Counter(y_train))
print('Resample dataset shape', Counter(y_smote))

Original dataset shape Counter({0: 16841, 1: 6227})
Resample dataset shape Counter({0: 16841, 1: 16841})

In [133]:
X_smote.to_csv('data/X_smote.csv', index=False)
y_smote.to_csv('data/y_smote.csv', index=False)

X_test.to_csv('data/X_test.csv', index=False)
y_test.to_csv('data/y_test.csv', index=False)

X_val.to_csv('data/X_val.csv', index=False)
y_val.to_csv('data/y_val.csv', index=False)